body {
  font-family: Arial, sans-serif;
  background-color: #eef9f3;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}
h1{
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  text-align: center;
}
p{
  text-align: center;
  margin-top:25%;
  font-size: 50px;
}
h2{

  font-size: 60px;
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

img {
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 10px auto;
}

.hz{
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    padding: 15px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  footer {
    font-size: 14px;
    padding: 15px;
  }
}

@media (min-width: 601px) {
  main {
    max-width: 900px;
    margin: 0 auto;
  }
}


